.logo {
    width: 40px;
    height: auto;
}

.intro--options > a {
    color: #6d6d6d;
}

.contact {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("/assets/img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width:540px){
    .perspective--modalview {
        .container {
            display: none;
        }
        .outer-nav {
            left: 0;
            right: 0;
        }
    }
}

@media screen and (max-width: 600px) and (max-height: 750px){
    .intro--small-devices {
        position: absolute;
        left: 0;
        right: -10%;
        top: 0;
        bottom: 0;
        background-image: url("/assets/img/dark-moon.png");
        background-size: 500px;
        background-repeat: no-repeat;
        background-position: 20vw -100px;
    }
}